<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="App_Store"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_Banhangtructuyen"
        tools:targetApi="34">
        <activity
            android:name=".activity.CapnhatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Huy"
            android:exported="false"
            android:label="@string/title_activity_huy"
            android:theme="@style/Theme.App_Banhangtructuyen" />
        <activity
            android:name=".activity.Danhgia1"
            android:exported="false" />
        <activity
            android:name=".activity.DonHangCuaToiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SuaDiaChiNhanHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.ChiTietDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.XacNhanDonHangActivity"
            android:exported="false" />
        <activity
            android:name=".activity.XoaTaiKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TrungTamActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DieuKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.QuanlySP_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.Themmoisp_Activity"
            android:exported="false" />
        <activity
            android:name=".activity.HoTroActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CaiDatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HosoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>